<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title
    ><ion-buttons slot="start">
      <ion-menu-button menu="panel_sidemenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="line_course" *ngFor="let course of data; ">
    <img class="line_course_ico" src="{{course.imageurl}}" alt="" />
    <div class="line_course_title">{{course.title}}</div>
    Qty:<input class="qty" type="text" value="1" />
  </div>
  <ion-button class="buy_btn" disabled="{{disabled}}" (click)="buy()"
    >buy now!</ion-button
  >
</ion-content>
