<ion-header>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</ion-header>

<ion-content>
  <div class="alert alert-success" role="alert">
    <p>Thank You!</p>
    <ion-icon name="logo-buffer"></ion-icon> Your order {{ordernumber}} has been
    placed successfully thank you for trusting us!
  </div>
</ion-content>
