form {
  box-shadow: 0 0 10px grey;
  width: 340px;
  height: fit-content;
  border-radius: 10px;
  margin: 15vh auto;
  padding: 2px;
}
.register_btn_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  i {
    font-size: 14px;
  }
}
// .register_btn_container ion-button {
//   text-transform: inherit;
//   margin-top: 30px;
//   width: 150px;
//   font-weight: 400;
//   font-size: 16px;
// }
.register_btn_container ion-button:last-child {
  text-transform: inherit;
  margin-top: 5px;
  width: 120px;
  font-weight: 400;
  font-size: 14px;
}
.register_btn_container ion-button:not(:last-child) {
  text-transform: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 160px;
  font-weight: 400;
  font-size: 17px;
}
.btn_register_divider {
  height: 1px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(204, 200, 200);
}
form ion-input {
  border: 0.5px solid rgb(197, 195, 195);
  border-radius: 10px;
}
form ion-input:first-child {
  margin-top: 50px;
}
form ion-input:not(:first-child) {
  margin: 10px 0;
}
form ion-input:hover {
  box-shadow: 0 0 10px rgb(191, 191, 236);
}
.register_response {
  color: red;
}
